.site-link {
    font-family: 'Architects Daughter','Helvetica Neue',Helvetica,Arial,serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 0px;
}

.site-link-sub {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    margin-left: 10px;
    margin-bottom: 0px;
}

.site-link-sub2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    margin-left: 20px;
    margin-bottom: 0px;
}

hr {
    border-bottom:1px dashed #2879D0;
    margin-bottom: 10px;
}

